@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar-container > .flex {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
@media (min-width: 768px) {  
    #navbar-container > .flex {
      padding-left: 7rem;
      padding-right: 7rem;
    }
  }
  
.awssld__content{
    height: 85vh;
}


